*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body
{
	border: 60px solid hotpink;

}
header
{
	height: 150px;
	display: flex;
	background-color: pink;
	

}
.logo img
{
	height: 150px;
	border-radius: 200%;

}
.logo
{
	
}
.divul
{
	display: flex;

}

ul
{
	display: flex;
	align-items: center;
	left: 50px	;
}
li
{
	list-style: none;
	padding: 5px;
	font-size: 30px;
	padding-left: 60px;
	

}
a
{
	text-decoration: none;
	color: black;

}
a:hover
{
	background-color: black;
	border-radius: 30%;
	padding: 15px;
	color: white;

}
/*form select 
{
	font-size: 20px;
	margin-top: 60px;
	margin-left: 10px;
}
form label input
{
	font-size: 20px;
	margin-top: 30px;
	margin-left: 10px;
	border-radius: 50px;
}*/
section
{
	background-image: url(bg.jpg);
	height: 500px;
	width: 1230px;
	/*background-size: 100% 100%;*/
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;


}
#h1 h1
{
	font-size: 40px;
	padding-top: 20px;
	padding-left: 900px;
	color: white;

}
.h1 h1
{
	color: black;
	background-color: pink;
	font-size: 60px;
	text-align: center;
	


}
#aside 
{
	height: 380px;
	width: 100%;
	background-color: pink;
	color: black;
	display: flex;

}
#aside h1
{
	color: black;
	font-size: 50px;
	font-family: cursive;
	/*text-align: center;*/
	padding-top: 50px;


}
.img img
{
	height: 380px;
	width: 350px;
}
.p
{
	/*border: 1px solid black;*/
	/*float: left;*/
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	background-color: black;
	color: white;
	font-size: 20px;

}
#part2 h1
{
	color: white;
}
.part3 .part3h1
{
	color: black;
	font-size: 60px;
	text-align: center;
	background-color: ;
	background-color: pink;
}
.img1 img
{
	border-radius: 30%;
	height: 300px;
	width: 300px;
	/*border: 1px solid black;*/
}
.img2 img
{
	border-radius: 30%;
	height: 300px;
	width: 300px;
	/*border: 1px solid black;*/
}
.img3 img
{
	border-radius: 30%;
	height: 300px;
	width: 300px;
	/*border: 1px solid black;*/
}
.img1 img:hover
{
	border-radius: 30%;
	height: 300px;
	width: 300px;
	/*border: 1px solid black;*/
	box-shadow: 5px 10px 10px 10px black;
}
.img2 img:hover
{
	border-radius: 30%;
	height: 300px;
	width: 300px;
	/*border: 1px solid black;*/
}
.img3 img:hover
{
	border-radius: 30%;
	height: 300px;
	width: 300px;
	/*border: 1px solid black;*/
}
.img1
{
	display: flex;
	border: 5px double black;

}
.img1 .a .a2
{
	padding-left: 40px;
	padding-right: 40px;
	font-size: 15px;
}
.img1 .b .b2
{
	padding-left: 40px;
	padding-right: 40px;
font-size: 15px;
}
.img1 .c .c2
{
	padding-left: 40px;
	padding-right: 40px;
	font-size: 15px;
}
.img1 .a .a1
{
	font-size: 25px;
	padding-top: 15px;
}
.img1 .b .b1
{
	font-size: 25px;
	padding-top: 15px;
}
.img1 .c .c1
{
	font-size: 25px;
	padding-top: 15px;
}

.hed
{
	text-align: center;
}
.par
{
	padding-top: 30px;
}
#footer
{
	height: 200px;
	width: 100%;
	background-color: black;
	display: flex;
}
#footer .a h1
{
	color: white;
}
#footer .b h1
{
	color: white;
}
#footer .c h1
{
	color: white;
}
#footer .d h1
{
	color: white;
}
#footer .a p
{
	color: white;
		;
}
#footer .b p
{
	color: white;
	;
}
#footer .c p
{
	color: white;
	;
}
#footer .d p
{
	color: white;
		;
}
#footer .a
{
	padding: 40px;
	margin-left: 80px;
}
#footer .b
{
	padding: 40px;
margin-left: 80px;
}
#footer .c
{
	padding:40px;
margin-left: 80px;
}
#footer .d
{
	padding: 40px;
	margin-left: 80px;
}









@media(max-width: 700px)

{
body
{
	border: 40px solid hotpink;

}
	header
{
	height: 100px;
	display: flex;
	background-color: pink;
	

}
.logo img
{
	height: 100px;
	border-radius: 200%;

}


li
{
	list-style: none;
	padding: 5px;
	font-size: 20px;
	padding-left: 30px;
	

}

section
{
	background-image: url(bg.jpg);
	height: 500px;
	width: 620px;
	background-size: 100% 100%;
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;


}

.h1 h1
{
	color: black;
	background-color: pink;
	font-size: 40px;
	text-align: center;
}
#aside 
{
	height: 380px;
	width: 100%;
	background-color: pink;
	color: black;
	display: flex;

}
#aside h1
{
	color: black;
	font-size: 50px;
	font-family: cursive;
	/*text-align: center;*/
	padding-top: 50px;
}
.img img
{
	height: 380px;
	width: 350px;
}
.p
{
	/*border: 1px solid black;*/
	/*float: left;*/
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	background-color: black;
	color: white;
	font-size: 13px;

}
.part3 .part3h1
{
	color: black;
	font-size: 40px;
	text-align: center;
	background-color: ;
	background-color: pink;
}

}
