*
{
	margin: 0px;
	padding: 0px;
}
header
{
	display: flex;
	position: relative;
	height: 150px;




}
header:before
{
	content: "";
	position: absolute;
	background-image: url(hed.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	height: 100%;
	width: 100%;
	opacity: 0.8;
	z-index: -1;
}
img
{
	height:150px;
	background-repeat: no-repeat;
}
ul
{
	display: flex;


}
li
{
	list-style: none;
	padding: 20px;
	font-size: 20px;
	margin-top: 30px;
	margin-left: 90px;
}
a
{
	font-size: 40px;
	text-decoration: none;
	color: black;
}
a:hover
{
	background-color: white;
	color: red;
	border-radius: 15px;
	padding: 15px 5px;


}
section
{
	background-repeat: no-repeat;
	position: relative;
	height: 600px;
	justify-content: center;
		
}
section:before{
	content: "";
	position: absolute;
	background-image: url(abc.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	opacity: 0.4;
	z-index: -1;
}
h1
{
	font-size: 50px;
	text-align: center;
	font-family: arial;
	padding: 50px;
}
p
{
	text-align: center;
	font-size: 20px;
	
	margin: 30px 100px;
}
button
{
	margin: 30px 620px;
	font-size: 20px;
}
button
{
	cursor: pointer;
	background-color: red;
	border-radius: 15px;
}